.layout {
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--gray-10) !important;
  margin-top: 2rem;
}

.description {
  color: var(--magenta-5);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
