.cardWrapper {
  background: #3c3c3c !important;
  border: 1px solid #404040;
  width: 300px;
  font-weight: 600;
}

.cardWrapper a {
  color: var(--magenta-3);
}

.cardWrapper a:hover {
  color: var(--magenta-5);
}

.posterWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 0.875rem;
}

.year {
  text-align: end;
  font-weight: bold;
  padding-bottom: 0.875rem;
  color: #e0e0e0;
}

.genre {
  text-align: end;
  color: #e0e0e0;
}

.description {
  margin: 0.875rem;
}

.ratingWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 0.875rem;
}

.ratingTitle {
  font-weight: bold;
  color: #e0e0e0;
}

.cardTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  display: block;
}
