:root {
  --margin-size: 14px;
  --padding-size: 14px;
}

.cardWrapper {
  background: #3c3c3c;
  border: 1px solid #404040;
  width: 300px;
  font-weight: 600;
}

.posterWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: var(--margin-size);
}

.year {
  text-align: end;
  font-weight: bold;
  padding-bottom: var(--padding-size);
  color: #e0e0e0;
}

.genre {
  text-align: end;
  color: var(--magenta-3);
}

.description {
  margin: var(--margin-size);
}

.ratingWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: var(--margin-size);
}

.ratingTitle {
  font-weight: bold;
  color: #e0e0e0;
}
