.wrapper {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding-top: 24px;
  background-color: var(--gray-10);
}
.header {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0 30px;
  gap: 20px;
}
