.wrapper {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding-top: 1.5rem;
  background-color: var(--gray-10);
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 1.875rem;
  gap: 1.25rem;
}
