.cardsWrapper {
  display: flex;
  gap: 30px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
