:root {
  --background: var(--gray-10);
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto Light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--magenta-3) !important;
  text-decoration: none;
}

a:hover {
  color: var(--magenta-5) !important;
}

.ant-card-head-title {
  color: var(--gray-1);
}

main {
  position: relative;
  top: 81px;
  height: calc(100vh - 81px);
  overflow-y: auto;
}
