:root {
  --background: var(--gray-10);
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto Light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover {
  background-color: var(--blue-6);
}

.anticon.anticon-right svg,
.anticon.anticon-left svg {
  color: var(--blue-6);
}
