.ant-pagination-item-ellipsis,
.ant-pagination-item-link svg {
  color: var(--magenta-3) !important;
}

.ant-pagination .ant-pagination-item-active:hover a {
  color: var(--magenta-3);
}

.ant-pagination {
  padding: 1.875rem 0;
}
