.heroWrapper {
  position: relative;
  min-height: 600px;
  display: flex;
  align-items: center;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    #000 0%,
    rgba(0, 0, 0, 0.95) 25%,
    rgba(0, 0, 0, 0.7) 40%,
    rgba(0, 0, 0, 0.3) 60%,
    transparent 80%
  );
}

.heroContent {
  position: relative;
  z-index: 2;
  color: white;
  padding: 1rem 3.75rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.5rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.divider {
  height: 1px;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  margin: 1.5rem 0;
}

.rating {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding-right: 1rem;
  position: relative;
  top: 1px;
}

.ratingTitle {
  padding-left: 0.75rem;
}

.details {
  color: var(--gray-1);
}

.description,
.starring {
  line-height: 1.6;
  margin-bottom: 2rem;
  max-width: 500px;
}

.dividersContent {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
}

.watchBtn {
  margin-bottom: 2rem;
}
